.App {
  margin: 40px 0 0 20px;
}
.Container {
  flex-direction: column;
  align-items: baseline;
}

p {
  display: inline-block;
  margin: 0;
}

button {
  margin-bottom: 10px;
}
.Error-message {
  color: #f44336;
  font-size: 12px;
}

.Form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.Form-control input,select {
  align-self: flex-start;
}
.Guests-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 500px;
}
